/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  background: #093a58;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  padding: 40px;
  margin: 0;
}
h2,
legend {
  color: #093a58;
  padding-top: 25px;
}
legend {
  font-size: 1.5em;
  margin-bottom: 20px;
  display: block;
  border-top: solid 2px #093a58;
  width: 100%;
}

fieldset {
  border: 0;
  padding: 0 20px;
  margin: 0;
  min-width: 0;
}
p {
  font-size: .9em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;
  color: rgb(176, 176, 176);
}
input:invalid {
  border: 2px dashed red;
}
input:valid,
select:valid {
  border: 2px solid green;
  padding-left: 5px;
}
footer {
  background: darkgrey;
  padding: 20px 0 70px 0;
}
/* =================================
  Base Layout Styles
==================================== */
.signUp {
  text-align: center;
  margin: 10px 20px 5px 20px;
  border-bottom: solid 4px #093a58;
}

button {
  align-self: flex-start;
  background: #52bab3;
  color: white;
  font-size: 1.6em;
  padding: 25px 33%;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
}
footer {
  text-align: center;
  color: #093a58;
  font-size: 1.3em;
  font-style: italic;
  padding-bottom: 60px;
}

.radio,
.checkbox {
  padding-bottom: 20px;
  padding-top: 10px;
}
/* ---- Page Elements ---- */

label {
  font-size: 1.1em;
  color: #6d6d6d;
}

input,
select {
  background: #eaeaea;
  border-radius: 5px;
  border-style: none;
  margin: 15px 0;
  font-size: 1.4em;
  outline-color: #093a58;
  width: 100%;
  padding: 20px;
  transition: all 1s ease-out;
}
input:focus{
  background: aliceblue;
}
select {
  color: rgb(176, 176, 176);
  -webkit-logical-height: 60px;
  -webkit-logical-width: 100%;
  -webkit-border-after: 5px;
  font-size: 1.1em;
}

option {
  padding: 20px 30%;
  margin: 15px 0;
  color: lightgrey;
}

#zipcode {
  padding: 20px;
  max-width: 45%;
  margin-bottom: 40px;
}
.light {
  padding: 15px;
  line-height: 2;
}
textarea {
  background: #eaeaea;
  outline-color: #093a58;
  padding: 50px 30%;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: none;
  margin-top: 20px;
  width: 100%;
}

label[for="comment"],
label[for="newsletter"],
label[for="newsletter2"] {
  line-height: 35px;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 20px;
  width:20px;
}
::-webkit-input-placeholder {
  color: rgb(176, 176, 176);
  font-style: italic;
  text-align: right;
  font-weight: lighter;
  font-size: .7em;
}
.flex-outer {
  list-style-type: none;
  padding: 0;
}
/* =================================
  Media Queries
==================================== */
@media (min-width:769px) {
  body {
    background: #52bab3;
  }
  h1 {
    max-width: 100%;
    padding: 23px;
    font-size: 1.2em;
    margin-bottom: 50px;
    box-shadow: 0 15px 12px -5px rgba(0,0,0, 0.5);
  }
  .signUp>legend {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  form {
    width: 80%;
    background: white;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 35px;
    margin-top: 30px;
  }
   p {
    color: rgb(176, 176, 176);
    font-size: .9em;
    font-weight: lighter;
  }
  input, #state {
    padding: 10px;
  }
  .container #zip {
  padding:  10px;
  max-width: 30%;
  }
  .signUp,
  .contact-information,
  .newsletter {
    max-width: 80%;
    margin:0 auto;
    padding-top: 20px;
  }
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
  }
  legend {
    font-size: 1.4em;
    padding-top: 35px;
  }
  label {
    font-size: 1.1em;
  }
  button {
    padding: 15px 43%;
    margin: 0;
    margin-bottom: 40px;
    font-size: 1.1em;
  }
  textarea {
    padding: 40px 38%;
  }
  footer {
    font-size: 1.1em;
    box-shadow: 0 -15px 15px -5px rgba(0,0,0, 0.3);
  }
  /* ---- flex Elements ---- */

  .contact-information {
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
  }
  flex-outer {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1;
    font-size: 1em;
  }
  select {
    font-size: 1em;
  }
  .zip {
    display: flex;
    padding-bottom: 20px;
  }
  #zipcode {
    max-width: 40%;
    margin-right: 31%;
    padding: 10px;
  }
  .flex-outer > li > label + * {
    flex: 2.5;
  }
  .flex-outer li p {
    margin: 0;
  }
}
